* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*incluir o preenchimento e a borda dentro da largura/altura total do elemento*/
    text-decoration: none;
}

/* Definindo cores como variáveis CSS */
:root {
    --cor-laranja: #FF6D62;
    --cor-verde: #12df97;
    --cor-amarelo: #fab508;
    --cor-roxo: #A258E0;
    --cor-azul: rgb(25, 182, 230)
    --cor-rosa: #F241A3;
  }

  body, html {
    overflow: hidden;
    position: relative;
}

html{
    /*a cada 1 rem, será considerado 10px*/
    font-size: 62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Configurações de texto*/
p.titulo{
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.5rem;
    margin: 1rem 2rem 1.5rem 2rem;
    text-align: center;
    line-height: 3.5rem;
}

p.intertitulo{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
    line-height: 2rem;
}

p.texto{
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1rem 2rem 1rem 2rem;
}

span.negrito{
    font-weight: 600;
    border-bottom: 3px solid #a258e0e6;
}



main{
    width: 100%;
    height: 100vh;
    background-image: url("imagens/background-quiz.svg");
    object-fit: cover;
    position: relative;
    z-index: 0;
}

div.fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

div.imagem-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: -90%;
}

img.imagem{
    width: 400px; /* Defina a largura desejada em pixels */
    height: auto; /* A altura será dimensionada automaticamente para manter a proporção */
}

div.box-inicial{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2.0rem;
    max-width: 450px; /*independente da tela, o máximo de largura é isso*/
    width: 80vw;
    height: 200px; /*posso usar um vh para altura flexível*/
    box-shadow: 0px 0px 20px #a258e0e6;
    z-index: 99;
}

div.box-regras{
    top: 10%;
    left: auto;
    background-color: white;
    border-radius: 1.0rem;
    max-width: 400px;
    width: 80vw;
    height: 210px;
    position: absolute;
    box-shadow: 0px 0px 10px rgb(239, 193, 128);
    transition: 0.6s ease;
    opacity: 0;
    z-index: 98; /*VER DE MUDAR ISSO NO JS*/
}
   
button{
    all: unset; /*para retirar configurações iniciais do botão*/
    text-align: center;
    border-radius: 1rem;
    font-weight: 600;
    cursor: auto;
    transition: 0.6s ease;
}

button.botao-comecar{
    width: 20%;
    background-color: #A258E0;
    color: white;
    padding: 1.3rem;
    font-size: 1.5rem;
    box-shadow: 0px 0px 10px rgb(162, 88, 224, 0.9);
    transition: 0.6s ease;
    transform: "";
}

#botao-bora-la{
    background-color: #EFC180;
    color: black;
    padding: 1.3rem;
    font-size: 1.2rem;
    box-shadow: 0px 0px 10px rgb(239, 193, 128);
    transition: 0.6s ease;
    transform: "";
    margin: 1rem;
}

.conteiner-botao,
.conteiner-botao-bora-la{
    text-align: left;
    display: flex;
    justify-content: end;
    margin: 1rem;
}

div.pergunta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 97;
}

div.timer{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border-bottom: 2px dotted var(--cor-amarelo);
}

p.timer-conteudo-fixo{
    font-size: 1.2rem;
    margin: 0.5rem;
    color: #242E47;
    font-weight: 600;
}

p.timer-conteudo-fluido{
    font-size: 1.2rem;
    margin: 0.5rem;
    background-color: #242E47;
    box-shadow: 0px 0px 10px rgba(25, 182, 230, 0.9);
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--cor-amarelo);
    font-weight: 600;
}

div.box-pergunta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2.0rem;
    max-width: 500px;
    width: 500px;
    height: 350px;
    margin: 0 auto; /*mudo para -20rem auto 0rem auto no js*/
    box-shadow: 0px 0px 20px #EFC180;
    z-index: 97;
    transition: all 0.6s ease;
    opacity: 0;
}

div.box-justificativa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 10%; /*mudo para 110% no js*/
    left: auto;
    background-color: white;
    border-radius: 1.0rem;
    width: 400px;
    height: 210px;
    position: absolute;
    box-shadow: 0px 0px 20px #EFC180;
    opacity: 0;
    z-index: 96; /*VER DE MUDAR ISSO NO JS*/
    transition: top 0.9s ease, opacity 0.5s ease;
}

button.botao-proxima {
    background-color: #EFC180;
    color: black;
    padding: 1.3rem;
    font-size: 1.2rem;
    box-shadow: 0px 0px 10px rgb(239, 193, 128);
    transition: 1s ease;
    transform: "";
    margin: 0auto;
    transition: 0.6s ease;
}

p.titulo-pergunta{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 2rem 2rem 2rem 2rem;
    text-align: center;
    line-height: 2.5rem;
}

button.resposta{
    background-color: #EFC180;
    color: black;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    margin: 1rem 5rem 1rem 5rem;
    transition: all 0.6s ease;
    transform: "";
}

p.texto-justificativa{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 2rem 2rem 2rem;
    text-align: center;
    line-height: 2rem;
}



div.box-resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 2.0rem;
    max-width: 400px; /*independente da tela, o máximo de largura é isso*/
    width: 90vw;
    height: 250px; /*posso usar um vh para altura flexível*/
    box-shadow: 0px 0px 20px #EFC180;
    z-index: 1;
    transition: 0.6s ease;
    opacity: 0;
}

div.box-resultado-titulo{

}

img.imagem-resultado{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
}


div.box-resultado-texto{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}


p.titulo-resultado{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 4rem 2rem 0rem 2rem;
    text-align: center;
}

p.texto-resultado{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
    line-height: 2rem;
}

p.resultado{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 2rem 1rem 1rem 1rem;
    text-align: center;
    line-height: 2rem;
}



/*Responsividade para quando a largura da tela for igual ou menor que 900px*/
@media (max-width: 900px) {
    div.fundo{
        background-size: contain; /*controla como a imagem de fundo é dimensionada em relação ao elemento que a contém*/
    }
  }

@media (max-width: 415px) {
    html{
        /*a cada 1 rem, será considerado 10px*/
        font-size: 65%;
    }

    div.box-inicial{
        height: 150px;
    }

    img.imagem{
        width: 300px; /* Defina a largura desejada em pixels */
        height: auto; /* A altura será dimensionada automaticamente para manter a proporção */
    }

    img.imagem-resultado{
        border-radius: 50%;
        width: 13rem;
        height: 13rem;
        margin: 1rem;
    }
    
    div.box-regras{
        width: 250px;
        height: 270px;
        transition: 0.6s ease;
        opacity: 0;
        margin-top: -0.9rem;
    }

    div.box-pergunta{
        width: 300px;
        height: 400px;
    }

    div.box-justificativa{
        width: 300px;
        height: 220px;
    }

    p.titulo{
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0rem;
    }
    
    p.intertitulo{
        font-size: 1.2rem;
        margin: 1rem 1rem 1rem 1rem;
        line-height: 2rem;
    }
    
    p.texto{
        font-size: 1.0rem;
        line-height: 2rem;
        margin: 1rem 2rem 1rem 2rem;
    }
    
    span.negrito{
        border-bottom: 2px solid #a258e0e6;
        font-weight: bold;
    }

    button.botao-comecar{  
        padding: 1.0rem;
        font-size: 1.0rem;
    }
    
    button.botao-bora-la{
        font-size: 1.5rem;
        color: white;
    }
    


  }  