* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*incluir o preenchimento e a borda dentro da largura/altura total do elemento*/
    text-decoration: none;
}

/* Definindo cores como variáveis CSS */
:root {
    --cor-laranja: #FF6D62;
    --cor-verde: #12df97;
    --cor-amarelo: #fab508;
    --cor-roxo: #A258E0;
    --cor-azul: #1BB7E5;
    --cor-rosa: #F241A3;
  }

  body, html {
    overflow: hidden;
    position: relative;
}

html{
    /*a cada 1 rem, será considerado 10px*/
    font-size: 62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Configurações de texto*/
p.titulo{
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.5rem;
    margin: 1rem 2rem 1.5rem 2rem;
    text-align: center;
    line-height: 3.5rem;
}

p.intertitulo{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
    line-height: 2rem;
}

p.texto{
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1rem 2rem 1rem 2rem;
}

span.negrito{
    font-weight: 600;
    border-bottom: 3px solid #a258e0e6;
}



section.pagina-principal{
    width: 100%;
    height: 100vh;
    background-image: url("background-quiz.svg");
    object-fit: cover;
    position: relative;
}

div.fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease;
}

div.imagem-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 10%;
}

img.imagem{
    width: 400px; /* Defina a largura desejada em pixels */
    height: auto; /* A altura será dimensionada automaticamente para manter a proporção */
}

div.box-inicial{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2.0rem;
    width: 450px;
    height: 200px;
    margin: 25rem auto;
    box-shadow: 0px 0px 20px #a258e0e6;
    z-index: 99;
}

div.box-regras{
    top: 40%;
    left: auto;
    background-color: white;
    border-radius: 1.0rem;
    width: 400px;
    height: 210px;
    position: absolute;
    box-shadow: 0px 0px 10px rgb(239, 193, 128);
    transition: 0.6s ease;
    opacity: 0;
    z-index: 98; /*VER DE MUDAR ISSO NO JS*/
}
   
button{
    all: unset; /*para retirar configurações iniciais do botão*/
    text-align: center;
    border-radius: 1rem;
    font-weight: 600;
    cursor: auto;
}

button.botao-comecar{
    width: 20%;
    background-color: #A258E0;
    color: white;
    padding: 1.3rem;
    font-size: 1.5rem;
    box-shadow: 0px 0px 10px rgb(162, 88, 224, 0.9);
    transition: transform 0.6s;
    transform: "";
}

button.botao-bora-la{
    background-color: #EFC180;
    color: black;
    padding: 1.3rem;
    font-size: 1.2rem;
    box-shadow: 0px 0px 10px rgb(239, 193, 128);
    transition: 0.6s ease;
    transform: "";
    margin: 1rem;
}

.conteiner-botao,
.conteiner-botao-bora-la{
    text-align: left;
    display: flex;
    justify-content: end;
    margin: 1rem;
}

div.pergunta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.box-pergunta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 2.0rem;
    width: 500px;
    height: 350px;
    box-shadow: 0px 0px 20px #EFC180;
    opacity: 0;
    transition: 0.6s ease;
}

div.justificativa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 2.0rem;
    width: 350px;
    height: 250px;
    box-shadow: 0px 0px 20px #EFC180;
    transition: 0.6s ease;
    margin: 2rem;
    opacity: 0;
}

button.botao-proxima {
    background-color: #EFC180;
    color: black;
    padding: 1.3rem;
    font-size: 1.2rem;
    box-shadow: 0px 0px 10px rgb(239, 193, 128);
    transition: 0.6s ease;
    transform: "";
    margin: auto;
}

p.titulo-pergunta{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0rem 2rem 3rem 2rem;
    text-align: center;
    line-height: 2.5rem;
}


button.resposta{
    background-color: #EFC180;
    color: black;
    padding: 1rem;
    font-size: 1.2rem;
    margin: 1rem 5rem 1rem 5rem;
}

p.texto-justificativa{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 2rem 2rem 2rem;
    text-align: center;
    line-height: 2rem;
}

p.resultado{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 2rem 1rem 1rem 1rem;
    text-align: center;
    line-height: 2rem;
}
/*Responsividade para quando a largura da tela for igual ou menor que 900px*/
@media (max-width: 900px) {
    div.fundo{
        background-size: contain; /*controla como a imagem de fundo é dimensionada em relação ao elemento que a contém*/
    }
  }

@media (max-width: 400px) {
    div.box-inicial{
        width: 250px;
        height: 150px;
        top: 30%;
    }

    img.imagem{
        width: 230px; /* Defina a largura desejada em pixels */
        height: auto; /* A altura será dimensionada automaticamente para manter a proporção */
        margin-top: 1rem;
    }
    
    div.box-regras{
        width: 200px;
        height: 250px;
        transition: 0.6s ease;
        opacity: 0;
        margin-top: -10rem;
    }

    p.titulo{
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0rem;
    }
    
    p.intertitulo{
        font-size: 1.2rem;
        margin: 1rem 1rem 1rem 1rem;
        line-height: 2rem;
    }
    
    p.texto{
        font-size: 1.0rem;
        line-height: 2rem;
        margin: 1rem 2rem 1rem 2rem;
    }
    
    span.negrito{
        border-bottom: 2px solid #a258e0e6;
    }

    button.botao-comecar{  
        padding: 1.0rem;
        font-size: 1.0rem;
    }
    
    button.botao-bora-la{
        font-size: 1.5rem;
        color: white;
    }
    


  }  